
    <div class="table-responsive table-compliances">
        <table class="table table-light table-hover small">
            <thead>
                <tr>
                    <th class="text-center">Objectif de la contrainte</th>
                    <th class="text-center">Statut</th>
                    <th class="text-end">Plancher</th>
                    <th class="text-end">Plafond</th>
                    <th class="text-end">Valeur</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="bg-light text-bg-light py-5 p-4">
        <p>En cas de contraintes non respectées (présence de lignes orange dans le tableau ci-dessous), 
        merci de bien vouloir nous contacter au 06 06 06 06 06.</p>
    </div>
