<!-- Contact-->
<div class="section-contact" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Vous avez une question?</h2>
                <hr class="divider" />
                <p class="mb-5">
                    Contactez-nous via le formulaire ci-joint. Nous vous répondrons le plus vite possible!
                </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="py-3">
                    <form class="form-contact">
                        <input type="hidden" id="portfolioquestionnaireid" name="questionnaireid" value="2031" />
                        <input type="hidden" id="userid" name="userid" value="" />
                        <input type="hidden" id="portfoliocode" name="code" value="" />

                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="portfolio-name" name="name" type="text" placeholder="Entrez vos nom et prénom..." data-sb-validations="required" />
                            <label for="portfolio-name">Votre nom et prénom</label>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Votre adresse email</label>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" placeholder="(33) 6-15-14-15-14" data-sb-validations="required" />
                            <label for="phone">Votre numéro de téléphone</label>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="message" type="text" placeholder="Expliquez-nous vos attentes en quelques mots..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Vos attentes particulières</label>
                        </div>

                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Soumettre</button></div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
