<p>
    Une présentation rapide des différents modules et services proposés
    dans le cadre de ce portail clients.
    Son périmètre n'est pas à ce jour arrêté.
</p>

<hr />

<div class="py-3 mx-5">
    <article>
        <h3>Portefeuille (page d'acceuil)</h3>
        <p>
            Sur votre site, nous vous donnons les moyens techniques pour concevoir
            un espace client personnalisé à vos couleurs.
            Chaque client pourra
            consulter ses portefeuilles en tenant compte
            des derniers prix de marchés, des derniers arbitrages réalisés
            par lui, par vous ou par l'intermédiaire (assureur, banque, courtier)
            dans le cadre d'un plan programmé par exemple.
            Pour construire votre portail, vous disposerez d'une librairie opensource
            permettant de concevoir votre expérience, ainsi qu'un service
            d'authentification anonyme (aucune donnée personnelle).
        </p>
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Stratégie</h3>
        Cet espace contient un graphique que l'on appelle en datavisualisation un sankey.
        Ce sankey est une de nos innovations.
        qui permet de visualiser en un graphique la stratégie du portefeuille,
        année après année, classe d'actifs par classe d'actifs.
        Tous les flux sont couverts à savoir les investissements, les sorties, les résultats du portefeuille
        qu'ils soient réalisés ou latents.
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Activité opérationnelle</h3>
        Cet espace couvre l'ensemble des opérations impactant le
        portefeuille de votre client.
        Figurent notamment tous les arbitrages (achats et ventes),
        les opérations sur titres (fusions, divisions) ainsi que
        les opérations initiées par le courtier ou la compagnie d'assurance
        dans le cadre d'un plan d'investissement programmé.
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Indicateurs</h3>
        Cet espace couvre l'ensemble des indicateurs standards de performances
        et de risques qui permettront aux investisseurs les plus avisés
        de voir si les objectifs fixés avec vous lors de la
        prise en mains de son portefeuille sont "cohérents".
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Carnet d'Ordres</h3>
        Cet espace privé et sécurisé est destiné à vos clients
        si vous le souhaitez.
        En effet, nous vous offrons la possibilité de transmettre un ordre
        ou plusieurs ordres (cas d'arbitrage par exemple)
        que vous validerez de votre côté
        avant de le transmettre sous la forme la plus efficace à notre courtier.
        Merci de nous contacter sur ce chantier d'intégration.
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Connaissance Client</h3>
        Cet espace privé et sécurisé est destiné à la connaissance client
        et à tous les processus d'actualisation qui seront
        à réaliser pour respecter vos obligations réglementaires.
        Ainsi le questionnaire que vous avez créé
        pourra être envoyé automatiquement à chacun de vos clients
        et vous libérez du temps.
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Base Documents</h3>
        Cet espace est consacré à tous les documents requis par la réglementation
        pour que chaque investisseur soit parfaitement informé des risques sous jacent
        à chaque fonds investi.
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Situation de trésorerie</h3>
        Cet espace regroupe tous les flux espèces créditant ou débitant
        le portefeuille client. On retrouvera les flux liés aux achats et ventes,
        aux versements de dividendes et aux différents apports et retraits.
    </article>
</div>

<div class="py-3 mx-5">
    <article>
        <h3>Contraintes de gestion</h3>
        Cet espace est consacré au suivi des contraintes de gestion
        défini conjointement pour chaque projet de chaque investisseur.
        Une contrainte peut surveiller toutes les données financières 
        et extra-financières.
    </article>
</div>