<div class="mb-4">
    <h2>Performances</h2>
    <div class="lines-chart-container navs-container" style="height:60vh;">
        <div id="navs" class="dc-chart lines-chart portfolio-content" data-option="YTD" data-animation="1000" data-x-dim="valuedate" data-y-dim="price"></div>
    </div>
</div>

<div class="mb-4 results-container">
    <h2>Derniers résultats mensuels</h2>
    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label">Date de départ </label>
            <input type="date" class="form-control" id="fromDate" name="fromDate" value="@DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group col-sm-8">
            <label class="control-label">Date de fin </label>
            <input type="date" class="form-control" id="toDate" name="toDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <button class="btn btn-primary btn-show-breakdowns" data-container="#breakdowns">Afficher la période</button>
    <div id="breakdowns" class="waterfall-container"></div>
</div>