

@section header
{
    <link href="~/Content/features.css" rel="stylesheet" />
    <style>
        body {
            text-align: center;
        }
    </style>
}


<main>
    <h1 class="visually-hidden">Pourquoi ETF Reporting</h1>

    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Pourquoi ETF Reporting?</h2>
        <em>Parce que c'est ...</em>

        <div class="row row-cols-1 row-cols-sm-3 g-4 py-5">
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Instructif</h4>
                    <p>On vous donnera  le rendement, le niveau de risques de votre portefeuille pour le comparer.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Révélateur</h4>
                    <p>On vous dira s'il n'y avait pas plus simple, plus performant, moins risqué ou plus durable.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Transparent</h4>
                    <p>Vous saurez comment votre portefeuille est exposé (pays, secteurs éco, entrerprises...)</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Technique</h4>
                    <p>Vous aurez accès à tous les indicateurs techniques standard de votre portefeuille et des fonds investis.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Pertinent</h4>
                    <p>On vous dira si votre portefeuille est suffisament diversifié en analysant la correlations des fonds</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Gratuit</h4>
                    <p>Vous ne payez rien. Seuls les professionels payent pour challenger votre portefeuille sans vous identifier.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Ephémère</h4>
                    <p>Chaque rapport a 15 minutes de vie, et vos données seront effacées sans être diffusées.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Sécurisé</h4>
                    <p>Vous serez le seul à pouvoie accéder à votre rapport qui nécessite authentification.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Moderne</h4>
                    <p>Votre portefeuille n'aura été aussi bien traité par une technologie sans précédent. Addiction</p>
                </div>
            </div>

        </div>
    </div>
</main>

