<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>ETF Reporting v2.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cover.css" rel="stylesheet" />

    @RenderSection("header", false)
</head>

<body class="d-flex h-100 text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">ETF Reporting</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/Home/Features">Features</a>
                    <a class="nav-link" href="/Home/HowTo">How to?</a>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer class="mt-auto text-white-50">
            <p>Service gratuit opéré par <a href="https://lili.am/" class="text-white">Lili</a> - Copyright LOYOL 2023</p>
        </footer>
    </div>
</body>

@RenderSection("scripts", false)


</html>
