/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}



.sticky-offset {
    top: 90px;
    margin-bottom: -150px;
}

.portfolio-chart .reset {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-sq-responsive {
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    font-size: 24px;
}

.td-img {
    height: 1em;
    width: 1em;
}

.key-number {
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    float: none;
    color: #30465e;
}

.card-body {
    height: inherit;
}

.container-options .form-check-input {
    visibility: hidden;
}

.container-options .state-icon {
    padding-right: 8px;
}

.container-options .selected-option {
    color: #ad834d;
}

.h-60 {
    height: 60vh;
}

.h-30 {
    height: 30vh;
}

.lines-chart-container {
    height: 250px;
}

.table-themes tbody tr > td {
    border: none !important;
}
.table-themes tbody tr h3 {
    font-size:5rem;
    color:#faf5ff;
    font-weight:600;
}
.table-themes tbody tr h5 {
    font-weight:600;
    color:#7a7a7a;
}

.table-themes td.td-img {
    padding: 20px 0;
}

.table-themes .img-container {
    width: 300px;
    min-height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

    .table-themes .img-container img {
        left: 50%;
        width: 300px;
        margin-left: -150px;
        position: absolute;
    }

.slider-container {
    padding: 5px 50px;
}

    .slider-container .slider {
        width: 100%;
    }

    .slider-container .slider-handle {
        background: #666;
    }

    .slider-container .slider-selection {
        background: #161106;
    }


