<?xml version="1.0"?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Services -->
  <add key="ServicesUrl" value="https://etfreporting.com"/>
  <!-- True if model -->
  <add key="ApplicationTemplate" value="false"/>

  <!-- Please setup your credentials on etfreporting.com -->
  <add key="UserName" value ="enexis"/>
  <add key="UserPassword" value="€neX1s2024"/>
  <add key="UserPhoneNumber" value="+33 6 48 18 84 41"/>
  <add key="UserSignature" value ="Jean-Marc Dufat"/>
  <add key="UserSignature2" value ="Conseiller en Gestion de Patrimoine- ORIAS N° 07030910"/>
  <add key="UserEmail" value="jmdufat@enexis-finances.com"/>
  <add key="UserWebSite" value="https://www.enexis-finances.com/"/>
  <add key="UserImageUrl" value="https://lepetitjournal.com/sites/default/files/2021-12/Boon_jm.jpg"/>

  <!-- Url of logo -->
  <add key="logoUrl" value="https://etfreporting.com/Advisors/GetImage/f5cdea90-6aea-4b27-bfb7-89253e5598f9"/>
  <!-- Name of application -->
  <add key="ApplicationName" value="Enexis Finances"/>
  <!-- Name of portal -->
  <add key="PortalName" value="Portail Client"/>
  <!-- Name of order book -->
  <add key="OrderBook" value="Carnet d'Ordres"/>
  <!-- Style additionals -->
  <add key="extendedStyle" value="~/Content/clients/enexis/myrobo-5.0.css"/>

  <!-- Name of robo -->
  <add key="RoboName" value="Robot Conseiller"/>
  <!-- Script additionals -->
  <add key="RoboScript" value="~/Scripts/controllers/robots/enexis-1.0.js"/>
  <!-- Start date for backtesting by the robot -->
  <add key="RoboStartDate" value="2023-06-06"/>


  <!-- Questionnaire id used by robo KYC -->
  <add key="LeadQuestionnaire" value="2033"/>
  
  <!-- Key of sustainability rating -->
  <add key="ESGRating" value="ESG-RAT"/>
  <!-- Key of implicite temp raise -->
  <add key="ESGITR" value="ESG-ITR"/>
  <!-- ID of question linked to the radar -->
  <add key="RadarQuestion" value="1085"/>


</appSettings>