<?xml version="1.0"?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ServicesUrl" value="https://etfreporting.com"/>

  <!-- Please setup your credentials on etfreporting.com -->
  <add key="UserName" value ="Julien BAUMGARTEN"/>
  <add key="UserPassword" value="SZYrxOGA57!*"/>
  <add key="UserEmail" value="contact@jb-solutions-patrimoine.fr"/>
  <add key="UserWebSite" value="https://www.jb-solutions-patrimoine.fr/"/>
  <add key="UserImageUrl" value="https://www.jb-solutions-patrimoine.fr/wp-content/uploads/go-x/u/d0f21a78-a82b-43cd-82dc-a4db21241b0d/l0,t248,w1532,h1680/image-320x351.jpg"/>
  <add key="UserPhoneNumber" value="+33 7 67 16 17 46"/>
  <add key="UserSignature" value ="Julien BAUMGARTEN"/>
  <add key="UserSignature2" value ="Conseiller en Investissement Financier et pédagogie financière"/>

  <add key="ContactEmail" value="contact@jb-solutions-patrimoine.fr"/>

  <!-- Questionnaire id used by robo KYC -->
  <add key="LeadQuestionnaire" value="2032"/>
  
  <!-- True if model -->
  <add key="ApplicationTemplate" value="false"/>

  <!-- Style additionals -->
  <add key="extendedStyle" value="~/Content/clients/jbs/myrobo-5.0.css"/>

  <!-- Script additionals -->
  <add key="RoboScript" value="~/Scripts/controllers/robots/jbs-1.2.js"/>
  
  <!-- Start date for backtesting by the robot -->
  <add key="RoboStartDate" value="2023-06-06"/>

  <!-- Url of logo -->  
  <add key="logoUrl" value="https://www.jb-solutions-patrimoine.fr/wp-content/uploads/go-x/u/72fcb9a5-cc68-4a35-ac7e-44d999df7068/image-384x384.png"/>

    
  <!-- Name of application -->
  <add key="ApplicationName" value="JB Solutions Patrimoine"/>
  <!-- Name of portal -->
  <add key="PortalName" value="Portail Client"/>
  <!-- Name of robo -->
  <add key="RoboName" value="Robot Conseiller"/>
  <!-- Name of order book -->
  <add key="OrderBook" value="Carnet d'Ordres"/>

  <!-- Key of sustainability rating -->
  <add key="ESGRating" value="ESG-RAT"/>
  <!-- Key of implicite temp raise -->
  <add key="ESGITR" value="ESG-ITR"/>


  <!-- ID of question linked to the radar -->
  <add key="RadarQuestion" value="1085"/>

</appSettings>