<?xml version="1.0"?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- Services -->
  <add key="ServicesUrl" value="https://etfreporting.com"/>
    
  <!-- Please setup your credentials on etfreporting.com -->
  <add key="UserName" value ="lili"/>
  <add key="UserPassword" value="Valmarfl@41"/>
  <add key="UserEmail" value="admin@etfreporting.com"/>
  <add key="UserWebSite" value="https://etfreporting.com/"/>
  <add key="UserImageUrl" value="https://www.passion-entrepreneur.com/wp-content/uploads/2023/12/trading-ia.jpg"/>
  <add key="UserPhoneNumber" value="+33 6 06 06 06 06"/>
  <add key="UserSignature" value ="John Doe"/>
  <add key="UserSignature2" value ="Conseiller en Investissement Financier et pédagogie financière"/>

  <add key="ContactEmail" value="admin@etfreporting.com"/>

  <!-- Questionnaire id used by robo KYC -->
  <add key="LeadQuestionnaire" value="2031"/>

  <!-- Url of logo -->
  <add key="logoUrl" value="https://etfreporting.com/Images/icons/etfreporting-gold.svg"/>

  <!-- Style additionals -->
  <add key="extendedStyle" value=""/>
  
  <!-- Script robo -->
  <add key="RoboScript" value="~/Scripts/controllers/robots/local-1.0.js"/>
  <!-- Start date for backtesting by the robot -->
  <add key="RoboStartDate" value="2021-01-02"/>

  <!-- Name -->
  <add key="ApplicationName" value="Mon Portail Client"/>
  <!-- True if model -->
  <add key="ApplicationTemplate" value="true"/>
  <!-- Name of portal -->
  <add key="PortalName" value="Portail Client"/>
  <!-- Name of robo -->
  <add key="RoboName" value="Robot Conseiller"/>
  <!-- Name of order book -->
  <add key="OrderBook" value="Carnet d'Ordres"/>

  <!-- Key of sustainability rating -->
  <add key="ESGRating" value="ESG-RAT"/>
  <!-- Key of implicite temp raise -->
  <add key="ESGITR" value="ESG-TEMP"/>
  <!-- ID of question linked to the radar -->
  <add key="RadarQuestion" value="1085"/>


</appSettings>