<?xml version="1.0"?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Name -->
  <add key="ApplicationName" value="Mon robot"/>

  <!-- Services -->
  <add key="ServicesUrl" value="https://etfreporting.com"/>
  
  <!-- Please setup your credentials on etfreporting.com -->
  <add key="UserName" value ="xxx"/>
  <add key="UserPassword" value="yyy"/>
 
  <!-- Email account -->
  <add key="LeadEmail" value="jf.andro@loyol.fr"/>

  <!-- Questionnaire id used by robo KYC -->
  <add key="LeadQuestionnaire" value="2031"/>

</appSettings>