
<style>
    .legend-container .legend {
        position:relative !important;
        top:unset;
        left:unset;
        background-color:unset;
        max-height:unset;
        overflow:unset;
    }
</style>

<div class="row align-items-md-stretch">

    <div class="col-lg-6 mx-auto">

        <div class="mb-4 p-3 bg-light">
            <h2>Allocation</h2>
            <div class="py-3">
                <p>
                    Ci-dessous la composition actualisée du portefeuille.
                    Cette composition est présentée en 3 niveaux hiérarchiques:
                    <ol>
                        <li>Thématique (modèle)</li>
                        <li>Classe d'actifs</li>
                        <li>ETF</li>
                    </ol>
                    La composition de ce portefeuille est revue quotidiennement afin de réfléter
                    les mouvements de marché, les poids affichés peuvent évoluer mais
                    de manière très faible. Si vous avez opter pour un rebalancement automatique ou programmé,
                    celui-ci est pris en compte à date anniversaire ou selon les conditions
                    de déclenchement prévues à cet effet.
                </p>
            </div>
            <div class="treemap-container w-100 h-60">
                <div id="tree1" class="portfolio-content treemap allocation-container"></div>
            </div>
        </div>

        <div class="mb-4 p-3 bg-light">
            <h2>Classification SFDR</h2>
            <div class="py-3">
                <p>
                    La réglementation SFDR vise à renforcer les obligations de transparence concernant les enjeux ESG
                    que les professionnels de la gestion d'actifs prennent en compte, ou non,
                    pour concevoir les placements qu'ils vous proposent.
                    Ce sont des règles relatives à la publication d'informations sur la durabilité d'un placement.
                    Le règlement définit notamment 3 types de produits :
                    <ul>
                        <li>les placements dits <strong>« Article 9 »</strong> qui présentent un objectif d'investissement durable;</li>
                        <li>les placements dits <strong>« Article 8 »</strong> qui déclarent la prise en compte de critères sociaux et/ou environnementaux;</li>
                        <li>
                            les placements dits <strong>« Article 6 »</strong> qui n'ont pas d'objectif d'investissement durable et ne déclarent pas prendre en compte les critères ESG.
                            Ce sont tous les autres placements qui ne sont ni « Article 8 » ni « Article 9 ».
                        </li>
                    </ul>
                </p>
            </div>
            <div id="sfdrmap" class="portfolio-content sectormap extra-breakdowns w-100 h-60" data-breakdown="SFDR"></div>
        </div>

        @if (ApplicationHelper.ESGRating != "")
        {
            <div class="mb-4 p-3 bg-light">
                <h2>Notations ESG</h2>
                <div class="py-3">
                    <p>
                        D'un point de vue ESG (Environnement Social et Gouvernance des entreprises),
                        les fonds de ce portefeuille font l'objet de nombreuses publications, analyses et de notes hétérogènes données
                        par des organismes publics, d'agences de notations et d'analystes indépendants.
                        Nous avons compilé pour vous ces différentes informations
                        pour vous donner <b>notre propre avis </b> en toute indépendance
                        pour qualifier l'implication du fonds dans les critères ESG.
                        Compte tenu de la valeur actuelle du portefeuille,
                        voici le profil ESG de nos opinions.
                        Les poids sont revus quotidiennement en fonction des mouvements de marchés et des
                        nouvelles publications émises.
                    </p>
                </div>
                <div id="esgmap" class="portfolio-content sectormap extra-breakdowns w-100 h-60" data-breakdown="@ApplicationHelper.ESGRating" data-legend="#legend-esg"></div>
                <div id="legend-esg" class="legend-container"></div>
            </div>
        }

        @if (ApplicationHelper.ESGITR != "")
        {
            <div class="mb-4 p-3 bg-light">
                <h2>Température implicite</h2>
                <div class="py-3">
                    <p>
                        La température implicite exprimée en degré celcius
                        conçue pour montrer l'alignement de la température des entreprises,
                        des portefeuilles et des fonds sur les objectifs mondiaux en matière de température.
                    </p>
                </div>
                <div id="mytemp" class="portfolio-content sectormap extra-breakdowns w-100 h-60" data-breakdown="@ApplicationHelper.ESGITR"></div>
            </div>
        }

        </div>

    <div class="col-lg-6 mx-auto">
        <div class="mb-4 p-3 bg-light">
            <h2>Exposition sectorielle</h2>
            <div class="py-3">
                <p>
                    D'un point de vue sectoriel, voici les principaux secteurs sur lesquels
                    le portefeuille est exposé. Nous avons tenu compte de votre appétence aux
                    risques ainsi qu'aux thématiques recherchées.
                    Tout comme la grille d'allocation, les poids sont revisés quotidiennement
                    en fonction des mouvements de marchés et des nouveaux arbitrages.
                </p>
            </div>
            <div id="sectors" class="portfolio-content sectormap sectors w-100 h-60" data-action="SectorBreakdown" data-legend=""></div>
        </div>
        <div class="mb-4 p-3 bg-light">
            <h2>Capitalisation des sociétés</h2>
            <div class="py-3">
                <p>
                    Ci-dessous la répartition de vos encours en <b>actions</b> par taille des entreprises
                    investies. Nous avons tenu compte de votre appétence aux
                    risques ainsi que vos thématiques recherchées.
                    Tout comme la grille d'allocation, les poids sont revisés quotidiennement
                    en fonction des mouvements de marchés et des nouveaux arbitrages.
                </p>
            </div>
            <div id="caps" class="portfolio-content sectormap breakdowns w-100 h-60" data-action="MarketCapBreakdown" data-legend=""></div>
        </div>

        <div class="mb-4 p-3 bg-light">
            <h2>Expositions géographiques</h2>
            <div class="py-3">
                <p>
                    Ci-dessous la répartition de vos encours en <b>actions</b> par région exposée.
                    Nous avons tenu compte de votre appétence aux
                    risques ainsi que vos thématiques recherchées.
                    Tout comme la grille d'allocation, les poids sont revisés quotidiennement
                    en fonction des mouvements de marchés et des nouveaux arbitrages.
                </p>
            </div>
            <div id="world" class="geomap w-100 h-30" data-table="#geo-exposures"></div>
            <div class="py-3">
                <p>Le tableau précise les différentes expositions géographiques en % du portefeuille</p>
                <div class="table-responsive mx-5">
                    <table class="table table-light small">
                        <thead>
                            <tr>
                                <th>Zone géographique</th>
                                <th>Exposition actions</th>
                            </tr>
                        </thead>
                        <tbody id="geo-exposures"></tbody>
                    </table>
                </div>
            </div>
        </div>

        @if (ApplicationHelper.RadarQuestion > 0)
        {
            <div class="mb-4 p-3 bg-light">
                <h2>Impact sur l'environnement</h2>
                <div class="py-3">
                    <p>
                        Le radar ci-dessous affiche l'intensité des différents impacts environnementaux
                        engagées par votre portefeuille.
                        Les informations affichées sur ce radar proviennent d'une analyse indépendante de
                        votre conseiller qui a compilé les indicateurs jugés pertinents pour comprendre
                        l'impact de vos avoirs sur l'environnement. N'hésitez pas à me contacter pour plus
                        d'informations.
                    </p>
                </div>
                <div id="radar-e" class="radar w-100 h-30" data-question="@ApplicationHelper.RadarQuestion"></div>
            </div>
        }

    </div>

</div>

