
<div class="container-questionnaire">
    <div class="card rounded border-0 bg-light position-relative">
        <div class="card-header">
            <h4 class="text-uppercase fw-weight-bold mb-0 question-title"></h4>
            <p class="fst-italic mb-0 question-name"></p>
        </div>
        <div class="card-body container-question">
        </div>
        <div class="card-footer">
            <em class="small">
                Réponse <span class="question-mandatory"></span> - choix <span class="question-multiple"></span>
            </em>
        </div>
    </div>
</div>