<section class="section-b section-2">
    <div class="container container-anim" data-run="kpis">
        <h2>Meilleurs OPCVM diversifiés du marché</h2>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table id="benchmark-table" class="table table-hover table-condensed benchmark-chart" data-kpi-type="table" data-kpi-sort="yld" data-group="off" data-kpi-domain="instruments" data-kpi-group="off" data-page-size="8" data-btn-next="#nextb" data-btn-last="#lastb" data-text-size="#sizeb" data-text-begin="#beginb" data-text-end="#endb"></table>
                </div>
                <div class="row">
                    <p id="paging" class="col-xs-12">
                        Afficher <span id="beginb"></span>-<span id="endb"></span> sur <span id="sizeb"></span> fonds.
                        <input id="lastb" class="btn btn-sm" type="button" value="Last" onclick="javascript: $k.widget('#benchmark-table').last()" />
                        <input id="nextb" class="btn btn-sm" type="button" value="Next" onclick="javascript: $k.widget('#benchmark-table').next()" />
                    </p>
                </div>
            </div>
            <div class="col-md-6 hidden-xs">
                <div id="benchmark-plots" class="benchmark-chart row-chart chart-xs" data-kpi-type="plots" data-x-axis="Performance" data-y-axis="Volatilité">
                    <p class="text-center header-chart">
                        <a class="reset" href="javascript:$k.reset('#benchmark-plots');" style="display: none;"><i class="fa fa-undo"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
