

<div class="overlay"></div>

<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="~/Content/videos/bg.mp4" type="video/mp4" />
</video>

<div class="container">
    <div class="jumbotron masthead" style="margin-top:150px;">

        <h1>Robo <span class="text-warning">for</span> Advisor</h1>

        <p>
            <strong>Ce site pourrait être le vôtre</strong> mais c'est notre show-room centré sur les services proposés
            par <a target="_blank" href="https://lili.am">la place de marché Lili</a>, une plateforme digitale réservéee aux professionels de la gestion d'actifs.
            Nous allons vous montrer dans ce show-romm, par des exemples concrets, du plus simple au plus complexe,
            comment utiliser et déployer <b>notre API</b> dans un contexte propriétaire sécurisé qui pourrait être votre site web.
            Nous allons vous faire découvrir tout le potentiel de notre approche "open" en faisant notamment appel à la libraire de <b>widgets dataviz</b>
            développés en open source pour offrir le maximum de nouvelles expériences à vos clients.
        </p>
        <div class="signin-container">
            <p>
                To discover LILi services, please enter your username, your
                password, or let <a href="mailto:admin@lili.am?subject=Credentials">email us</a>  to get credentials.
            </p>

            <form id="signin-form" class="signin-form" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Votre identifiant" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe" />
                    </div>
                </div>
                <div id="ctnErr" class="well hide">
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary btn-sm" type="submit">Sign in</button>
                </div>
            </form>
        </div>

        <div class="signoff-container">
            <p class="small">
                Your first experience starts with a sample of <a href="/Home/Allocations">client report</a> related to the portfolio linked to the connected user.
            </p>
        </div>

    </div>
</div>


@section scripts {
<script>

    $(document).ready(function () {

        // Create a new instance of a controller sign in
        var sg = new LoyolApp.SignInController($('#signin-form'));

        // this function is call to refresh form
        sg.onSignin = function () {
            // get the state of current session
            var session = LoyolApp.Session.getInstance().get();
            if (session && session.keepSignedIn && session.token) {
                $('.signin-container').addClass('hidden');
                $('.signoff-container').removeClass('hidden');
            } else {
                $('.signin-container').removeClass('hidden');
                $('.signoff-container').addClass('hidden');
            }
        }

        // Call this fonction on loading current form to enable or disable elements of signin
        sg.onSignin();

        // Sign off = Remove access token from current session + call to refresh
        $('.btn-signout').click(function () {
            LoyolApp.Session.logOff();
            sg.onSignin();
        })

    });

</script>

}
