

<div class="overlay"></div>

<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="~/Content/videos/bg.mp4" type="video/mp4" />
</video>

<div class="jumbotron masthead">
    
    <h1>PARIS <span class="text-warning">by Lili</span></h1>

    <p><strong>Non intrusive</strong> librairies are designed to perform high quality web sites and applications of fund managers, fund retailers and fund advisors.
    This website is a showroom of new UX and demonstrate some of the capabilities of PARIS with <b>API</b>, a gallery of smart <b>dataviz</b> pluggins in open source 
    and its <b>IBOR</b> engine available as a service.</p>
    <p class="lead text-center">This web site could be <b>your web site</b>.</p>
        
    <div class="signin-container">
        <p>
            To discover PARIS services, please enter your username, your
            password, or let <a href="mailto:admin@lili.am?subject=Credentials">email us</a>  to get credentials.
        </p>

        <form id="signin-form" class="signin-form" method="post">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Votre identifiant" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe" />
                </div>
            </div>
            <div id="ctnErr" class="well hide">
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary btn-sm" type="submit">Sign in</button>
            </div>
            <em class="small text-warning">PARIS : <strong>P</strong>ortfolio <strong>A</strong>nalysis <strong>R</strong>eporting <strong>I</strong>ntegrated <strong>S</strong>ervices</em>
        </form>
    </div>

    <div class="signoff-container">
        <p class="small">
            Your first experience starts with a sample of <a href="/Home/Allocations">client report</a> related to the portfolio linked to the connected user.
        </p>    
    </div>

</div>


@section scripts {
<script>

    $(document).ready(function () {

        // Create a new instance of a controller sign in
        var sg = new LoyolApp.SignInController($('#signin-form'));

        // this function is call to refresh form
        sg.onSignin = function () {
            // get the state of current session
            var session = LoyolApp.Session.getInstance().get();
            if (session && session.keepSignedIn && session.token) {
                $('.signin-container').addClass('hidden');
                $('.signoff-container').removeClass('hidden');
            } else {
                $('.signin-container').removeClass('hidden');
                $('.signoff-container').addClass('hidden');
            }
        }

        // Call this fonction on loading current form to enable or disable elements of signin
        sg.onSignin();

        // Sign off = Remove access token from current session + call to refresh
        $('.btn-signout').click(function () {
            LoyolApp.Session.logOff();
            sg.onSignin();
        })

    });

</script>

}
