<h2>Indicateurs de performances et de risques</h2>
<p>
    Retrouvez ci-dessous les principaux indicateurs
    de risques et de performances relevés sur
    votre portefeuille. Il est crucial qu'en tant qu'investisseur vous puissiez 
    quantifier et qualifier les risques de votre portefeuille et de savoir
    si ceux-ci sont à la hauteur des performances constatées.
</p>
<div class="table-responsive container-indicators">
    <table class="table table-light table-hover small">
        <thead>
            <tr>
                <th class="text-center">Option</th>
                <th class="text-end">Performance</th>
                <th class="text-end">Volatilité</th>
                <th class="text-end">Ratio Sharpe</th>
                <th class="text-end">Perte max.</th>
                <th class="text-end">Var95</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<p>Ces indicateurs de risques et de performances ne préjugent pas des risques et des performances futurs.</p>

