@model Lili4me.Models.ClientPortal

@{
    ViewBag.Title = "Operations dashboard";
    Layout = "~/Views/Shared/_layout5.cshtml";
}

@section title {
    Mes Documents
}

@section header {
    <!-- The style of my web site for widgets -->
    <link href="~/Content/mydataviz.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://etfreporting.com/content/d3dc" />
}

<section class="page-section">

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary">
        <h1 class="display-4">Documents</h1>
        <article class="fst-italic text-bg-secondary">
            Cet espace est consac.
        </article>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div class="container py-5">
            <div class="container-kyc mx-5">
                <h3>Vos documents</h3>
                <p>
                    Retrouvez ci-dessous tous les documents que vous devez avoir
                    compte tenu des fonds présents dans votre portefeuille. 
                    Sont présents les <strong>propsectus</strong> ainsi que 
                    les derniers rapports comptables fournis mensuellement
                    par les sociétés de gestion émetrices des fonds investis.
                </p>
                <div class="py-2">
                    @Html.Partial("_documents")
                </div>
            </div>
        </div>
    </div>

</section>

@section scripts {

    <script>

        $(document).ready(function () {

            var domain = LoyolApp.Settings.domain;
            var sg = new LoyolApp.SignInController(domain),
                $ptf = new LoyolApp.PortfolioController();

            //var session = LoyolApp.Session.getInstance().get();
            var cred = { access_token: '@ViewBag.token', userGuid: 'xxx', userName: 'etfreporting', expires_in: @ViewBag.expires  }
            sg.setcredentials(cred);

            // refresh documents table
            var getDocuments = function (code) {
                $ptf.get('holdingpages', { code: code, key: '' }, function (docs) {
                    $ptf.populateDocuments(docs, $('#dici-table'));
                    $ptf.populateDocuments(docs, $('#reporting-table'));
                })
            }

            // check report
            credentialsControl('@Model.Code', function (report) {
                $('.text-username').html(report.Portfolio.name);
                getDocuments(report.Portfolio.code);
            })


        });


    </script>
}
