@{
    ViewBag.Title = "ETF Reporting Premium";
}

@section menu {
    <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/Home">Accueil</a></li>
    </ul>
}

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-light">
    <h1 class="display-1 fw-bolder">ETFReporting <span class="fst-italic text-primary">Premium</span></h1>
    <h3 class="fs-3 py-4">
        1 PMS + 1 Portail + 1 Robot<br />
        = 3 applications personnalisées<br />
        déployées en 24H chrono sur votre site internet
    </h3>

    <em><b>PMS</b> = Portfolio Management Services</em>
</div>


<div class="mx-lg-4 p-lg-5">

    <blockquote class="blockquote bg-light p-5 border-start border-5 py-5">

        <p>
            ETFreporting <em class="text-primary">Premium</em> est d'abord
            la première <b>offre SaaS</b> proposée aux conseillers
            en gestion de patrimoine (CGP) pour se doter à moindres coûts d'un arsenal digital conçu
            pour l'acquisition, la gestion et la relation client.
        </p>
        <p>
            Mais c'est aussi la première offre complète de gestion de portefeuilles
            conçue pour l'<b>investissement via des ETF</b>.
            L'adoption massive des fonds cotés en bourse (gestion passive et active) changent la donne
            non seulement dans la gestion financière d'un portefeuille,
            mais aussi dans la manière de restituer impacts et résultats auprès de ses clients
            réclamant performance, transparence et flexibilité.
        </p>
        <p>
            Tous nos services intégrés dans une seule et unique offre vont vous accompagner dans 
            la connaissance client, la construction et la gestion de vos allocations, 
            la maitrise des risques, l'intégration des critères ESG, 
            le calcul de votre rémunération en format frais de gestion.
        </p>
        <p>
            Notre proposition est simple : vous accompagner pour attirer et gagner la confiance des nouveaux investisseurs.
        </p>
        

    </blockquote>

    <h4 class="fs-4">
        Vous rêvez d'un portail clients?
    </h4>
    <p>
        Cette offre s'adresse aux CGP convaincus de la nécessité d'intégrer des ETF dans
        les portefeuilles de ses clients et dans les propositions faites à ceux qui restent
        au stade du prospect.

        Pour capter et conserver l'attention d'investisseurs avertis ou non sur le potentiel des ETF,
        il vous manque une technologie capable
        d'afficher au plus grand nombre votre expertise en matière d'allocation d'actifs,
        de quête de rendements et de maîtrise des risques.

        Une technologie moderne, économique, fluide et flexible pour promouvoir
        ce savoir-faire recherché à vos couleurs, dans votre environnement et sur les réseaux sociaux.
    </p>

    <h4 class="fs-4">Pourquoi le choix de l'Opensource</h4>
    <p>
        La proposition que nous vous faisons est le fruit de +30 années d'expérience d'éditeur 
        avec des solutions logiciels destinées aux sociétés de gestion et institutionnels.
        L'ADN de cette nouvelle offre destinée aux CGP se résume en une phrase : séparer gestion et restitution.
    <p>
    <p>
        nos services de gestion de portefeuilles accessibles en WebAPI et référencés
        sur <a href="https://etfreporting.com">etfreporting.com</a>.

        Pour réaliser un modèle de vos futurs parcours (prospects et clients),
        nous nous sommes inscrits dans une approche <em class="text-primary">open source</em>.

        Adopter une approche <em class="text-primary">open source</em> signifie que notre savoir-faire est concentré
        sur les services métiers.

        <em class="text-primary">Open source</em> indique que vous décidez d'une part comment vous consommez ces services métiers,
        de l'autre, comment vous restituez l'information utile produite.

        <em class="text-primary">Open source</em> précise enfin que le code de cette application modèle est public
        et disponible sur <a href="https://github.com/jfandro/ETF-Template/tree/master">Github</a>.
        Ce code est destiné à ceux qui veulent dessiner leur propre parcours et expérience client
        à partir de notre application modèle. Unique.

    </p>
    <h4 class="fs-4">Bénéfices attendus</h4>
    <p>
        L'Opensource a de nombreuses vertues, la première étant <b>économique</b> car vous ne démarrez pas un projet d'une page blanche,
        mais à partir d'un modèle couvrant l'essentiel de vos besoins.
        La seconde vertue est <b>technologique</b>.
        A nous éditeur français, elle permet de concentrer nos efforts sur le calculatoire, c'est à dire
        le développement et la maintenance de tous les services centrés sur la gestion de portefeuilles.

        Enfin, la troisième vertue est  <b>pratique</b> car l'Opensource vous donne une licence libre
        sur une application prête à réplication et mise en production en moins de 24 heures.
        Vous gardez le pouvoir de choisir l'information utile, et de la restituer de la manière qui vous plaira, auprès de qui vous voulez, et comme vous le souhaitez.
        Sur ce dernier point, vos équipes ou vos prestataires techniques
        pourront s'appuyer sur notre librarie de datavisualisation (elle aussi disponible en open source)
        ou sur une application plus standard comme Power BI.
        Les rôles sont clairs, et ce, au bénéfice de chacun.
    </p>
    <h4 class="fs-4">L'union fait la force</h4>
    <p>
        Cette application peut être aussi le portail unique
        d'un regroupement de plusieurs cabinets. Tout prospect peut
        etre routé vers le
        Un seul site pour prospecter.
    </p>
    <p>
        <strong>Bienvenue dans l'univers des ETF et de l'Open source</strong>
    </p>
</div>

