@{
    ViewBag.Title = "Contact";
}
<h2 class="display-1">Besoin d'en savoir plus?</h2>
<h3>Contactez nous. On tentera de répondre à toutes vos questions</h3>

<address>
    LOYOL SAS<br />
    3 La Boissière<br />
    41800 LES HAYES <br />
    FRANCE<br />
    <abbr title="Phone">Tel:</abbr>
    06.18.56.39.38<br />
    <a href="mailto:jf.andro@loyol.fr">Ecrivez nous</a>
</address>
