@{
    ViewBag.Title = "Home Page";
}

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-light">
    <h1 class="display-1 fst-italic">Robo & Portal Advisor</h1>
    <p class="fs-6">
        Si vous cherchez à doter votre site internet d'un robo advisor pour attirer de
        nouveaux prospects, ou à intégrer un portail clients
        moderne et complet, alors soyez la
        bienvenue car vous êtes au bon endroit.
    </p>
</div>


<div class="mx-lg-4 p-lg-5">
    <div class="py-5 p-4 d-flex justify-content-center bg-white w-100">
        <a href="/ClientPortal/" class="btn btn-dark btn-sq-responsive p-4 mx-1" title="Parcours client">Parcours Client</a>
        <a href="/Robot/" class="btn btn-primary btn-sq-responsive p-4 mx-1" title="Robo advisor">Parcours Prospect</a>
    </div>
    <p>
        Pour réaliser votre parcours prospect (robot advisor) et votre portail client, 
        nous vous proposons de vous appuyer sur notre expérience d'éditeur et notre expertise reconnue dans la conception et le
        développement de solutions de gestion de portefeuilles.
        Tout ce savoir-faire est condensé dans cette application "open source", 
        celle où vous vous trouvez là maintenant.
        Open source précise que son code est public et disponible sur <a href="https://github.com/jfandro/ETF-Template/tree/master">Github</a>.
        Cette application vous permettra de profiter rapidement et en toute sécurité de tous 
        les services de gestion de portefeuilles proposés nativement
        par <a href="https://etfreporting.com">etfreporting.com</a>. 
        Vous pourrez restituer ainsi toutes les informations saisies, gérées et produites de la manière qui vous plaira,
        auprès de vos clients et prospects. 
        Vous aurez la boite à outils la plus moderne du marché pour offrir une expérience utilisateur unique qui
        leur donnera tous les indicateurs et la transparence requise pour gagner leur confiance.
    </p>
    <p><strong>Bienvenue dans l'univers de l'Open source</strong>, celui de la sécurité, de la flexibilité,
    de la maitrise des services et des parcours sur mesure.</p>
    <div class="row g-5 py-4">
        <div class="col-md-6">
            <h2>Notre application témoin</h2>
            <p class="text-primary-emphasis">
                Comme tout conseiller en gestion, vous aurez 2 catégories de visiteurs sur votre site,
                ou approchés sur les réseaux sociaux: vos clients et ceux qui pourraient le devenir.
                On vous propose de vivre 2 nouveaux parcours développé sur notre application témoin 
                avant d'être répliqués, personnalisés puis déployé partiellement ou totalement sur votre propre site.
                En tant qu'éditeur, notre nom n'apparaitra pas.
            </p>
            <ul class="icon-list">
                <li><a href="/Robot/">Vous n'êtes pas client (Robo advisor)</a></li>
                <li><a href="/ClientPortal/">Vous êtes client (Portail client)</a></li>
            </ul>
            <div class="bg-light text-bg-light p-4">
                Pour visualiser les fonctionnalités du portail avec un compte virtuel existant,
                veuillez vous authentifier avec les paramètres suivants:
                <p style="font:smaller;">
                    <dl>
                        <dt>Référence du dossier:</dt>
                        <dd>8dce821f-8451-4964-80fe-c007e1bfc37e</dd>
                        <dt>Mot de passe:</dt>
                        <dd>123456</dd>
                    </dl>
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Guides (en cours)</h2>
            <p>Plusieurs guides et liens seront produits et mis à votre disposition 
            pour vous donner le maximum d'informations
            concernant la mise en oeuvre de notre solution PaaS au sein de votre environnement.</p>
            <ul class="icon-list">
                <li><a href="/Home/Robot">Guide pour implémenter son robot</a></li>
                <li><a href="/Home/Portal">Guide pour implémenter son portail</a></li>
                <li><a href="/Home/Reporting">Construire les beaux reportings client avec PowerBI</a></li>
                <li><a href="https://etfreporting.com/help">Guide de l'API etfreporting</a></li>
            </ul>
        </div>
    </div>
</div>

