@{
    ViewBag.Title = "Home Page";
}

        <h1>Get started with ETFReporting API</h1>
        <p class="fs-5">
            Bienvenue sur notre application modèle (HTML, CSS and JavaScript) libre de droits et personnalisable sans limite.
        </p>

        <hr>

        <div class="row g-5">

            <div class="col-md-6">
                <h2>Vos applications</h2>
                <p>Nous allons vous faire vivre de nouvelles expériences</p>
                <ul class="icon-list">
                    <li><a href="/Robot" target="_blank">Votre robo advisor</a></li>
                    <li><a href="/ClientPortal" target="_blank">Votre portail client</a></li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Guides</h2>
                <p>Plusieurs guides et liens vers les sites partenaires</p>
                <ul class="icon-list">
                    <li><a href="/Home/Robot">Guide pour implémenter son robot</a></li>
                    <li><a href="/Home/Portal">Guide pour implémenter son portail</a></li>
                    <li><a href="/Home/Reporting">Construire les beaux reportings client avec PowerBI</a></li>
                    <li><a href="https://etfreporting.com">La plateforme de services etfreporting.com</a></li>
                    <li><a href="https://etfreporting.com/help">Guide de l'API etfreporting</a></li>
                </ul>
            </div>
        </div>

