@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ETF Template</h1>
    <p class="lead">Application modèle (HTML, CSS and JavaScript) libre de droits
    et personnalisable sans limite. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-4">
        <h2>ETFReporting</h2>
        <p>L'application ETF Template est une application modèle (libre de copie) destinée à devenir votre arme
        digitale pour l'acquisition de vos clients.
        </p>
        <p><a class="btn btn-default" href="https://etfreporting.com">ETF Reporting</a></p>
    </div>
    <div class="col-4">
        <h2>Acquisition Client</h2>
        <p>Ce module a pour vocation de devenir votre robo advisor. Un questionnaire de connaissance
        est proposé de manière anonyme afin de comprendre le profil et les projets de votre prospect.</p>
        <p><a class="btn btn-default" href="/Robot">Accès au robot</a></p>
    </div>
    <div class="col-4">
        <h2>Portail Client</h2>
        <p>
            Ce module a pour vocation de devenir votre portail client. Vos c
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>