
<div class="mb-4 p-4 correlations-container">
    <h2>Diversification</h2>
    <p>
        La matrice ci-dessous affiche tous les taux de correlations
        des actifs actuellement détenus par votre portefeuille.
        La valeur d'un taux de correlation est comprise entre 1 (vert) et -1 (rouge)
        en passant par 0 (jaune).
        Plus la cellule est verte, plus elle indique 2 titres qui se comportent de 
        la même manière. 
    </p>

    <div class="btn-group">
        <button class="btn btn-primary btn-show-breakdowns" data-container="#breakdowns">Afficher la période</button>
    </div>
    <div id="correlations-map" class="heatmap" style="height:70vh;"></div>
</div>

