<div id="credentials" class="modal fade text-black" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align:left; font-size:smaller;text-shadow:none;">
            <div class="modal-header">
                <h5 class="modal-title">Identifiez-vous</h5>
            </div>
            <form method="post" class="form-credentials">
                <div class="modal-body">
                    <p>Veuillez vous identifier en renseignant la référence client qui vous a été
                    attribuée lors de votre inscription.</p>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" id="reportid" name="id" value="" placeholder="Enter your client id">
                        <label for="reportid">Référence client</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="password" class="form-control" id="password" name="password" value="Mon mot de passe">
                        <label for="Name">Mot de passe</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-dark">Soumettre</button>
                </div>
            </form>
        </div>
    </div>
</div>

