<h3>Documents Investisseur</h3>
<div class="table-responsive">
    <table id="dici-table" class="table table-hover table-sm small" data-document="Document Investisseur">
        <thead>
            <tr>
                <th width="80"></th>
                <th>Code ISIN</th>
                <th>Nom Instrument</th>
                <th>Document</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="py-5">
    <h3>Rapports mensuels</h3>
    <div class="table-responsive">
        <table id="reporting-table" class="table table-hover table-sm small" data-document="Reporting mensuel">
            <thead>
                <tr>
                    <th width="80"></th>
                    <th>Code ISIN</th>
                    <th>Nom Instrument</th>
                    <th>Document</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
