.sticky-offset {
    top: 90px;
    margin-bottom: -150px;
}

.portfolio-chart .reset {
    position: absolute;
    bottom: 0;
    right: 0;
}

.td-img {
    height: 1em;
    width: 1em;
}

.key-number {
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    float: none;
    color: #30465e;
}

.card-body {
    height: inherit;
}

.container-options .form-check-input {
    visibility: hidden;
}

.container-options .state-icon {
    padding-right: 8px;
}

.container-options .selected-option {
    color: #ad834d;
}

.h-60 {
    height: 60vh;
}

.h-30 {
    height: 30vh;
}

.lines-chart-container {
    height: 250px;
}